; This config file is used by `coverage combine` command to transform paths from being
; relative to the Docker container to being relative to the Travis CI build directory.

[paths]
source =
  transiter/
  */site-packages/transiter/

[run]
data_file = coverage/.coverage
source = transiter
omit = *transiter/alembic/*
