name: CI

on: [push, pull_request]

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.18.0'
      - uses: extractions/setup-just@v1
      - uses: docker/setup-buildx-action@v2
  
      - name: Set the Transiter version
        run: |
          BASE_VERSION=$(cat internal/version/BASE_VERSION)
          VERSION=${BASE_VERSION}-dev.build${{ github.run_number }}

          # If this is a push to mainline, give it the beta release
          if [ "${{ github.ref == 'refs/heads/master' && github.event_name == 'push' }}" = "true" ]
          then
            VERSION=${BASE_VERSION}-beta.build${{ github.run_number }}
          fi

          # If this is a release, give it the full version.
          # A release is defined as a tag push where the tag is `v<base version>`.
          if [ "${{ github.ref }}" = "refs/tags/v${BASE_VERSION}" ]
          then
            VERSION=${BASE_VERSION}
          fi

          echo "Setting version to ${VERSION}"
          echo "TRANSITER_VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Launch Postgres
        run: docker run -d --env POSTGRES_USER=transiter --env POSTGRES_PASSWORD=transiter --env POSTGRES_DB=transiter -p 5432:5432 postgis/postgis:14-3.4

      - name: Build the Docker image
        uses: docker/build-push-action@v4
        with:
          tags: |
            jamespfennell/transiter:latest
            jamespfennell/transiter:${{ env.TRANSITER_VERSION }}
          build-args: |
            "TRANSITER_VERSION=${{ env.TRANSITER_VERSION }}"
          outputs: type=docker
          context: .

      - name: Run CI
        run: just ci

      - name: Login to DockerHub
        uses: docker/login-action@v2
        # Only push to Docker Hub if this workflow is a push to mainline
        if: ${{ github.ref == 'refs/heads/master' && github.event_name == 'push' }}
        with:
          username: jamespfennell
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v4
        # Only push to Docker Hub if this workflow is a push to mainline
        if: ${{ github.ref == 'refs/heads/master' && github.event_name == 'push' }}
        with:
          tags: |
            jamespfennell/transiter:latest
            jamespfennell/transiter:${{ env.TRANSITER_VERSION }}
          build-args: |
            "TRANSITER_VERSION=${{ env.TRANSITER_VERSION }}"
          context: .
          push: true
